<h2>Bra Wish list</h2>
<p>Can't remember what bras you wanted to try? Keep track of them here.</p>
<p>Depending on the brand and bra the size will need to be tweaked, so don't be afraid to try different sizes</p>
<a href='/wishlist/new'>Add a Bra to your wishlist </a>
<p id='userID'>User: {{user.email}}</p>
<p>Recommended Size: {{user.braSize}}</p>
<table>
  <thead>
    <tr>
      <th>Brand</th>
      <th>Style</th>
      <th>Size</th>
      <th>Edit</th>
      <th>Remove</th>
    </tr>
  </thead>
  <tbody>
    {{#each user.wishList}}
    <tr>
      <td>{{brandName}}</td>
      <td>{{brandStyle}}</td>
      <td>{{size}}</td>
      <td><a href='/wishlist/{{id}}/edit'>√</a></td>
      <td><form action='/wishlist/{{id}}/?_method=delete' method='POST'><button>x</button></form></td>
    </tr>
    {{/each}}
  </tbody>
</table>

