<h2>Bra Wish list</h2>
<p>Content will go here</p>
<a href='/survey'>Survey </a>
<a href='/wishlist/new'>Add a Bra to your wishlist </a>
<p>User: {{user.email}}</p>
<table>
  <thead>
    <tr>
      <th>Brand</th>
      <th>Style</th>
      <th>Size</th>
      <th>Edit</th>
      <th>Remove</th>
    </tr>
  </thead>
  <tbody>
    {{#each user.wishList}}
    <tr>
      <td>{{brandName}}</td>
      <td>{{brandStyle}}</td>
      <td>{{size}}</td>
      <td><a href='/wishlist/{{id}}/edit'>√</a></td>
      <td><form action='/wishlist/{{id}}/?_method=delete' method='POST'><button>x</button></form></td>
    </tr>
    {{/each}}
  </tbody>
</table>


<script>
  (function() {
    var cx = '011253441330498667417:mrhvtbzrjb8';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//cse.google.com/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search>
